[Unit]
Description=FPMS daemon responsible for OLED management

[Service]
ExecStart=/usr/local/bin/oled-start
WorkingDirectory=/usr/local/share/fpms
PIDfile=/var/run/nanohat-oled.pid
Type=forking

[Install]
WantedBy=multi-user.target
